@model SteadyMedApiGateway.Models.PhysicianViewModels.PhysicianViewModel

@{
    ViewData["Title"] = "Physicians Home";
}

<div id="physician_panel" class="container-fluid">
    <div class="row" id="physician_search_form">
        <form>
            <input id="search_box" type="text" name="search_text" />
            <input type="button" class="btn btn-default" id="search_button" value="Search" />
        </form>
    </div>
    <h4>Patients</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Patients.First().ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patients.First().PatientFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patients.First().PatientLastName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.Patients)
            {
                <tr class="patientRow" onclick="location.href='@Url.Action("Index", "Physician")'">
                    <td>
                        @patient.ID
                    </td>
                    <td>
                        @patient.PatientFirstName
                    </td>
                    <td>
                        @patient.PatientLastName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="debug_panel">
    <h3 id="debug_result"></h3>
</div>